[tool.poetry]
name = "lightray"
version = "0.2.2"
description = "Distribute a LightningCLI hyperparameter search with Ray Tune"
authors = ["Ethan Jacob Marx <ethan.marx@ligo.org>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
ray = {version = "^2.8.0", extras = ["default", "tune"]}
lightning = "<=2.4.0"
s3fs = {version = "^2024.9.0"}
pyarrow = {version = "^17.0.0"}
jsonargparse = {version = "^4.33.2", extras = ["signatures"]}
wandb = "^0.18.5"


[tool.poetry.scripts]
lightray = "lightray.cli:cli"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.8.0"
pytest = "^8.3.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.tox
  | _build
  | dist
  | docs
)/
'''


[tool.isort]
multi_line_output = 3
include_trailing_comma = true
